.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


 .jumbotron{
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.InGcWhEtTiWPk7vE-UO5xAHaB3&pid=Api&P=0&w=511&h=129);
  background-size: 500px;
  background-repeat: no-repeat,repeat-x;
  background-position: center;
} 
.Carousel{
  background-size: 500px;
}
.About-jumbotron{
  color: blueviolet;
}
body, html {
  height: 100%;
  }
.navbar{
  background-color: lightslategray ;

  }
  .createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }

  .createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

  }
  

  .form-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    
    margin-left: "100%";
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: block;
    
    
    }

    .god{ 
      
      float:center;
      /* font-size: 1.125em; */
      font-size: 110%;
      margin-right: 0%;
      text-align:center;
      width:100%;
      text-align: center;
       margin: 20px 0 0 ;
      padding: 10px 0; 
      padding-left:10px;
      padding-right:10px;
      margin-left:10px;
      margin-right:10px;
      
  
    }
    .mr-auto{
      
      
      
      
      
     /* font-size: ; */
      padding: 10px 5px;
      /* font-size: 120%; */
      white-space: pre;
     
      line-height: 1.5em;
      color: #596365;
      /* padding-left:30px;
  padding-right:30px;
  margin-left:30px;
  margin-right:30px; */
    }
    .active{
      padding-left:10px;
      padding-right:10px;
      margin-left:10px;
      margin-right:10px;
    }
    .de{
      padding-left:10px;
      padding-right:10px;
      margin-left:10px;
      margin-right:10px;

    }
    .createAccountt button {
      background-color: forestgreen;
      color: #fff;
      border: 2px solid #fff;
      width: 100%;
      margin-top: 1em;
      padding: 8px 0px;
      font-size: 1em;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-bottom: 0.25em;
    }
    .jumbo{
        background-image: url(https://tse2.mm.bing.net/th?id=OIP.kFlYMtsKJ03FtxaX9P6xlwAAAA&pid=Api&P=0&w=300&h=300);
        background-size: 500px;
        background-repeat: no-repeat,repeat-x;
        background-position: center;

    }
    /* .upcomingEvent {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    } */

  


   
  
  